.progress-bar-container {
  width: fit-content;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
  position: absolute;
  align-self: center;
  left: 50%;
  transform: translateX(-50%);
}