.home-hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    /* background-color: turquoise; */
    height: 10vh;
}

.home-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* background-color: aqua; */
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: 1;
    /* background-color: violet; */
}

.home-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.home-image {
    position: absolute;
    right: 0;
    width: auto;
    height: 100vh;
    /* background-color: lightgreen; */
}