.page5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    /* border: 1px solid #ccc; */
}

.page5-content{
    display: flex;
    flex-direction: column;
}

.kids-meter {
    /* border: 1px solid #ccc; */
    background-color: #f7f4f4;
    padding: 0 20px;
    width: 400px;
}

.text-container-p5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.page5-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    gap: 12px;
}

.button-container-p5 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-self: flex-end;
    margin-top: 5px;
}