.page5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    /* border: 1px solid #ccc; */
}

.page5-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: -250px;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    gap: 12px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-self: flex-end;
    border: 1px solid #ccc;
    border: none !important;
}