.btn{
    background-color: #FE5000;
    color: white;
    border: 2px solid #FE5000;
    border-radius: 50px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: fit-content;
}