.page6-container {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    height: 80vh;
}

.upper-container-p6 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ccc; */
    padding: 10px 20px;
}

.page6-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 380px;
}

.button-container-p6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    width: 100%;
    align-self: flex-end;
}

.button-wrapper-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button1:hover, .button2:hover {
    background-color: #757575 !important;
    color: white !important;
    border: 1px solid #757575 !important;
}

.lower-container-p6 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* border: 1px solid #ccc; */
    padding-top: 10px;
}

.lower-container-p6 img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.next-button-container-p6 {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}